<!DOCTYPE html>
<html>
<style> 

.button {
  background-color: teal;
  border: none;
  color: white;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 45%;
  cursor: pointer;
}


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  text-align: center;
  margin: 8px 0;
  font-size: 16px
  box-sizing: border-box;
  border: 5px solid teal;
  border-radius: 4px;
}
</style>
<body>
<div>
<img src="/static/images/banner.png" alt="CARE+.com" width="auto" height="auto">
</div class="w3-container w3-green">

<form action="/details">
<input type="text" value="LastName">
<input type="text" value="Birthday">
<input type="text" value="Zip">
<button class="button">Search</button>
</form>

<div>
<img src="/static/images/body.png" alt="CARE+.com" width="auto" height="auto">
</div>

</body>
</html>